# ===========================
# Visual Studio
# ===========================
.vs/
bin/
obj/

# ===========================
# React
# ===========================
node_modules/
dist/

# ===========================
# Environment
# ===========================
.env
.env.*

# ===========================
# Logs
# ===========================
logs/
*.log

# ===========================
# IDE
# ===========================
.vscode/

# ===========================
# OS Files
# ===========================
Thumbs.db
.DS_Store